#copiar a ".env" y rellenar los CAMBIAME

DB_DATABASE=ecotraffic
DB_USERNAME=ecotraffic
DB_PASSWORD=CAMBIAME

APP_NAME=EcoTraffic
APP_ENV=production
APP_DEBUG=false
APP_URL=http://ecotraffic.local
APP_KEY=CAMBIAME
JWT_SECRET=CAMBIAME

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
LOG_CHANNEL=stack
LOG_LEVEL=info

ORS_API_KEY=CAMBIAME
AEMET_API_KEY=CAMBIAME
